<!doctype html>
<html>
    <head>
    </head>
    <body>
        <img src="gerbtspu118.png">
        <form action="/" method="POST">
            <input name="username" type="text">
            <input type="submit" value="push">
        </form>
    </body>
</html>